<div class="hero-banner">
  <svg id="svg1" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
    <path fill="#474bff" d="M412,280Q393,320,371,359Q349,398,305.5,410.5Q262,423,220,412.5Q178,402,125.5,395Q73,388,43.5,342Q14,296,21,242Q28,188,71,158.5Q114,129,147,105.5Q180,82,224,46.5Q268,11,308.5,46.5Q349,82,400,105.5Q451,129,441,184.5Q431,240,412,280Z" />
  </svg>
  <svg id="svg2" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	<path fill="#474bff" d="M389.5,330Q344,420,243,415.5Q142,411,88,325.5Q34,240,90,159Q146,78,249,62Q352,46,393.5,143Q435,240,389.5,330Z" />
</svg>
  <h1 class="uptop">Tudo sobre saúde.</h1>
  <%= link_to "Ver Posts", posts_path, class: "btn-posts uptop" %>
</div>

<style>
  body {
      overflow: hidden;
  }
</style>